.navbar-brand{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    background: #999999;
    line-height: 25px;
}
h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
/* .navbar {
    height: 75px;
    color: #ffffff;
}
a {
    color: #999999;
} */